---
layout: default
---

<style>
.nowrap {
  white-space: nowrap;
}
  
table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.week {
  background-color: #e0f7fa; /* Light Cyan for week */
}


.lecture {
  background-color: #ffffff; /* White for lectures */
}

.recitation {
  background-color: #d0f0fd; /* Light Blue for recitations */
}


.work_released {
  background-color: #fff9c4; /* Light Yellow for work released */
}

.work_due {
  background-color: #ffccbc; /* Light Coral for work due */
}

.guest_lecture {
  background-color: #ffffff; /* White for guest lectures */
}

.holiday {
  background-color: #f8bbd0; /* Light Pink for holidays */
}

.sub_deadline {
  background-color: #ffcc80; /* Light Orange for sub-deadlines */
}
</style>

<table>
  <thead>
    <tr>
      <th><b>When</b></th>
      <th><b>What</b></th>
    </tr>
  </thead>
  <tbody>
    {% for week in site.data.schedule %}
      <tr class="week">
        <td><b>{{ week.week }}</b></td>
        <td></td>
      </tr>
      {% for item in week.items %}
      <tr class="{{ item.class }}">
          <td class="nowrap">{{ item.date }}</td>
          <td>
          {% if item.topic %}
              <b>
                  {% if item.link %}
                     <a href="{{ item.link }}">{{ item.topic }}</a>
                  {% else %}
                     {{ item.topic }}
                  {% endif %}
              </b>
              {% if item.details %}
                  <br>
              {% endif %}
          {% endif %}
          {% if item.details %}
              {{ item.details }}
          {% endif %}
          </td>
      </tr>
      {% endfor %}
    {% endfor %}
  </tbody>
</table>


<script>
  document.addEventListener("DOMContentLoaded", function () {
    const today = new Date().toLocaleDateString('en-US', {
      month: 'short', day: 'numeric'
    });

    const rows = document.querySelectorAll('td.nowrap');

    rows.forEach(row => {
      if (row.textContent.includes(today)) {
        row.closest('tr').style.backgroundColor = "#ffeb3b"; 
      }
    });
  });
</script>
